@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
    color: #222;
    font-family: 'Montserrat', sans-serif;;
    font-weight: 300;
}
.wrapper {
    width: 1280px;
    margin: 50px auto;
}
header {
    position: relative;
}
header .logo {
    font-weight: 600;
    font-size:  20px;
}

header ul.nav {
    float: right;
    list-style: none;
}
header ul.nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
}
header ul.nav li:hover{
    opacity: 0.5;
  }
header .presentation {
    margin: 50px 0;
    background-image: url('./img/диван.jpg');
    width: 100%;
    height: 500px;
    background-position: center center;
    position:  relative;
}
header .presentation::after {
    content: 'Лучшие товары для вашего дома';
    position: absolute;
    top: 100px;
    left:  50px;
    width: 300px;
    font-size: 40px;
    font-weight: 400px;
    color:  #fff;
}
header .presentation::before {
    content: 'по низким ценам';
    position: absolute;
    top: 250px;
    left:  50px;
    width: 300px;
    font-size: 15px;
    font-weight: 300px;
    color:  #fff;
}
header .shop-cart-button {
    float: right;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: color, transform 500ms ease;
}
header .shop-cart-button:hover,
header .shop-cart-button.active {
    color: #dc3d3d;
    transform: scale(1.3);
}
header .shop-cart {
    margin-top: 5px;
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    background-color: #fafafa;
    text-align: center;
    border: #222 1px solid;
    -webkit-box-shadow: 4px 5px 15px -7px #606060;
    box-shadow: 4px 5px 15px -7px #606060;
    z-index: 1000;
}
header .shop-cart p {
    color: #5fa36a; 
    font-weight: 400;
    padding-top: 3px;
    text-align: center;
}
header .shop-cart h3 {
    text-align: center;
}
.category-div {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}
.category-btn{
    height: auto;
    border: none;
    border-radius: 20%;
    width: 80px;
    padding: 2px;
}
.delete-item {
    font-weight: 600;
    font-size: 25px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px; /* Выравнивание по центру по вертикали */
    margin-top: 3px;
}

.item-oreder {
    display: flex;
    gap: 15px;
    margin: 5px;    
}
main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
main .item, .full-item .item {
    width: 30%;
    margin-bottom: 50px;
    padding-bottom: 10px;
    background: #f5f5f5;
    overflow: hidden;
    position: relative;
}
.full-item .item  {
    width: 100%;
}

.buy-btn {
    padding: 5px;
    background-color:  #5fa36a;
    color: #ffff;
    font-weight: 400px;
    font-size: 16px;
    border: none;
    border-radius: 3%;
    margin: 10px auto;
    transition: 500ms;
    text-align: center;
}
.full-item {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    overflow: auto;
}
.full-item > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 40px 30px;
    background: #fff;
    border-radius: 9px;
}
.exit-fullScrean {
    position: absolute;
    top: 10px;  
    right: 30px;
}
.buy-btn:hover {
    transform:scale(1.1)
}
main .item img, .full-item .item img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
    height: 300px;
}
main h2, main p, main b, .full-item h2 , .full-item p, .full-item b {
    margin: 10px 20px;
}
main b, .full-item b {
    color: #5fa36a;
    padding-bottom: 20px;
}

.add-to-cart
{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dc3d3d;
    border-radius: 50%;
    margin-bottom: 10px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
   transition: 500ms;
}
.delete {
    background-color: #dc3d3d;
}
.add {
    background-color: #5fa36a;
}

main .add-to-cart:hover {
  transform: scale(1.3);
}
main .item img:hover {
    transform: scale(1.05);
}
footer {
    text-align: center;
    margin-top: 100px;
}